# Dependencies
node_modules/

# Production build output
dist/
dist-ssr/
*.local
*.tsbuildinfo
.env
.env.local
.env.*.local
version.json

# Editor & System
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json

# Google Apps Script
google-apps-script/